.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.horizontal-stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 90vh;
}

.step {
  width: 290px; /* Adjust the width of each step as needed */
  height: 4px; /* Adjust the height of the line as needed */
  background-color: #ccc; /* Adjust the color of the line as needed */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.active {
  background-color: #3498db; /* Adjust the color for the active step as needed */
}
